body {
    background-color: black;
    font-family:monospace;
}

header {
    background-color: lightcoral;
    height: 50px;
    width: 10px;
    text-align: center;
    color: black;
    border-bottom: 3px dashed black;
}
