body
{
    background-color : lightgoldenrodyellow;
    font-family: 'Century Gothic';
}
#contenedor
{
    width: 300px;
    margin: 111px auto;
    border: 1px solid black;
}

h1 
{
    background-color : aliceblue;
    height: 50px;
    width: 300px;
    text-align:center;
    color:black;
    border: 1px groove black;
    margin: 100px auto;
}

form 
{
    background-color: mistyrose;
    height: 200px;
    width: 300px;
    text-align: center;
    color: black;
    border: 0px groove black;
}
#contenedor1
{
    width: 300px;
    margin: 0px auto;
    border: 0px solid black;
}
#Resultado
{
    background-color: aliceblue;
    height: 50px;
    width: 300px;
    text-align: center;
    color: black;
    border: 1px groove black;
    margin: 100px auto;
}