body
{
    background-color : lightgoldenrodyellow;
    font-family: 'Century Gothic';
}
#contenedor
{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}

h1 
{
    background-color : aliceblue;
    height: 50px;
    width: 200px;
    text-align:center;
    color:black;
    border: 1px groove black;
}

form 
{
    background-color: mistyrose;
    height: 250px;
    width: 200px;
    text-align: center;
    color: black;
    border: 1px groove black;
}
